{% extends 'base.html' %}


{% block head %}
<title>Edit site</title>
{% endblock %}


{% block body %}
<h1>Edit Posts</h1>

    <hr>
    <h2>Let's edit you're posts!</h2>
    <form action="/posts/edit/{{post.id}}" method="POST">
        Title: <input type="text" name='title' id='title' value={{post.title}}>
        <br>
        Post: <input type="text" name="content" id ='content' value={{post.content}}>
        <br>
        Author: <input type="text" name="author" id="author" value={{post.author}}>
        <br>
        <input type='submit' value='Save'>
    </form>
    <hr>
{% endblock %}
