{% extends 'base.html' %}


{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
<h1>Home Page</h1>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome at my first blog site!</h1>
        <p>you can post on our site anything you want , about anything !</p>
        <p>Site made while learning Flask -Python
          <a class="btn btn-primary" href="https://pl.wikipedia.org/wiki/Flask_(framework)" role="button">What's Flask? &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}