{% extends 'base.html' %}


{% block head %}
<title>Posts</title>
{% endblock %}


{% block body %}
<h1>all posts</h1>

    <hr>
    <h2>Create New Post!</h2>
    <form action="/posts" method="POST">
        Title:

        <input class="form-control" type="text" name='title' id='title' placeholder="Title" aria-label="Title">
        <br>
        Author:
        <input class="form-control" type='text' name='author' id='author' placeholder='Author' aria-label='Author'>
        <br>
        Post:
            <textarea class="form-control rounded-0" name="content" id="content" placeholder=' enter content' aria-label='Content' rows="3" ></textarea>
        <br>
        <input class="btn btn-success" type='submit' value='Post!'>
    </form>
    <hr>
    {% for post in posts %}
    <br>
        <h2>{{post.title}}</h2>

        {% if post.author %}
            <small>Written By: {{post.author}} on {{post.date_created}}</small>
        {% else %}
            <small>By: Non Author on {{post.date_created}}</small>
        {% endif %}
        <br>
        <br>
        <p>{{post.content}}</p>
        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Delete</a>
        <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
        <hr>
    {% endfor %}
{% endblock %}